<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Cadastrar Jogo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="input" id="nome">
      <mat-label for="sel_A">Seleção A:</mat-label>

      <mat-select name="sel_A" id="sel_A" [(ngModel)]="timeA">
        <mat-option *ngFor="let selecao of selecoes" value=" {{ selecao.id }} ">
          {{ selecao.id }} - {{ selecao.nome }}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="input" id="nome">
      <mat-label for="sel_B">Seleção B:</mat-label>

      <mat-select name="sel_B" id="sel_B" [(ngModel)]="timeB">

        <mat-option *ngFor="let selecao of selecoes" value=" {{ selecao.id }} ">
          {{ selecao.id }} - {{ selecao.nome }}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </mat-card-content>

  <button mat-raised-button color="warn" id="btnCadastrar" (click)="cadastrar()">
    Cadastrar
  </button>
</mat-card>